<header>
    <div>
        <a href="/lico"><img src="/images/logo-lico.png" class="logo"></a>
    </div>
    <form class="form-search">
        <input placeholder="Search" class="search">
    </form>
    <nav>
        <div class="icon">
            <a href="/lico/<%= name; %>"><img src="https://icons-for-free.com/iconfiles/png/512/profile+user+icon-1320166082804563970.png" class="user-icon"></a>
        </div>
        <div class="icon">
            <a href="/lico/index"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png" class="user-icon"></a>
        </div>
    </nav>
</header>