
    <div class="contain-logo">
        <a href="/lico" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="home"><img src="/images/logo-2.png" class="logo"></a>
    </div>
    
    <form class="form-search" action="/lico/search" method="GET">
        
        <input placeholder="&#x1F50E Search" class="search" name="userName" list="usersList" type="text">
        
        <datalist id="usersList">
            <% users.forEach((user) => { %>
                <option value="<%= user.userName; %>"></option>
            <% }) %>
        </datalist>
    </form>
   
