<div class="icon">
    <a href="/lico"><img src="https://static.thenounproject.com/png/423483-200.png" class="user-icon"></a>
</div>
<div class="icon">
    <a href="/lico/<%= name; %>"><img src="https://icons-for-free.com/iconfiles/png/512/profile+user+icon-1320166082804563970.png" class="user-icon"></a>
</div>
<div class="icon">
    <a href="/lico/index"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png" class="user-icon"></a>
</div>