<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <div class="container">
        <h1>Log in</h1>
        <form action="/lico/login_submit" method="POST">
            <p><%= errEmail; %></p>
            <div class="form-group">
                <label for="email">Email *</label>
                <input name="email" id="email" type="email" placeholder="enter your email address" class="form-control" required>
            </div>
            <p><%= errPassword; %></p>
            <div class="form-group">
                <label for="password">Password *</label>
                <input name="password" id="password" type="password" placeholder="enter password" class="form-control" required>
            </div>

            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
        <p>You don't have an account? <a href="/lico/signup">Sing up here</a></p>
    </div>
</body>

</html>