@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
header {
    padding: 1%;
}
/* first page */
.first-page {
    width: 90%;
    margin: auto;
}
.first-logo {
    width: 22%;
}

.top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.first-body {
    display: flex;
    flex-flow: row nowrap;
    height: 700px;
    margin-bottom: 3%;
}
.login {
    width: 50%;
    background-image: linear-gradient(rgb(224, 244, 245), rgb(238, 238, 210));
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left {
    width: 50%;
    background-image: url('https://i.picsum.photos/id/250/4928/3264.jpg?hmac=4oIwzXlpK4KU3wySTnATICCa4H6xwbSGifrxv7GafWU');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
form {
    width: 80%;
}
.input {
    width: 100%;
    border-top: 1px solid #fae596;
    border-left: 1px solid #fae596;
    border-right: 1px solid #fae596;
    background-color: #fae596 ;
}
.login-submit {
    margin: 3% 0; 
    background-color: #173e43 ;
    color: white;
    padding: 1%;
    border: 3px solid#173e43;
}
.label {
    font-weight: bolder;
    color: #3fb0ac;
}
.slogan {
    font-weight: bolder;
    margin-bottom: 3%;
}
.login-submit:hover {
    background-color: #3fb0ac;
    border: 3px solid#3fb0ac;
}
/* END */

/* header */
.search {
    height: 100%;
    width: 100%;
    border: 2px solid #dddfd4;
    background-image: linear-gradient(rgb(224, 244, 245), rgb(238, 238, 210));
    border-radius: 10px;
    text-align: center;
}
.form-search {
    width: 20%;
    border: 2px solid #dddfd4;
    height: 40px;
    border-radius: 10px;
}
/* end */

/* HOME PAGE */

.logo {
    width: 40%;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border-bottom: 1px solid #3fb0ac;
    align-items: center;
}
.each-user {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 1%;
}
.each-user > p {
    font-weight: bolder;
}
.btn-page {
    background-color: #173e43;
    color: white;
    border-radius: 5px;
    padding: 10%;
    margin: 0;
}
.btn-page:hover {
    background-color: #3fb0ac;
    color: white;
}
.user-icon, .logout-icon  {
    width: 100%;
}
.image-icon {
    width: 100%;
}
nav {
    width: 20%;
    display: flex;
    flex-flow: row nowrap;  
    justify-content: center;
}
.icon {
    width: 10%;
    margin: 2%;
}
.body-home {
    /* background-color: #e8edf3; */
    background-image: url('https://i.picsum.photos/id/309/3872/2592.jpg?hmac=mpv4pTnYv_x4vdrsXOUvytC19nhEPMgp56sK3Ize-Vo');
    height: 800px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.list-users {
    width: 50%;
    margin: auto;
    border: 1px solid #e8edf3;
    padding: 2%;
    background-color: white;
    height: 800px;
    overflow: scroll;
    font-size: 17px;
}
.avata-user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* END */

/* INDEX PAGE */
.list-image {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 1%;
    width: 85%;
    min-height: 800px;
    background-image: linear-gradient(rgb(224, 244, 245), rgb(238, 238, 210));
}
.index-item {
    width: 30%;
    margin: 1%;
    height: 320px;
}
.show-image {
    width: 100%;
    height: 250px;
}
.index-image {
    width: 100%;
    height: 250px;
    margin: 1%;
}
.users-images {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.users {
    width: 15%;
    display: flex;
    flex-direction: column; 
    padding-top: 2%;
    overflow: scroll;
    height: 800px;
}
.title {
   height: 160px;
    background: rgba(146, 150, 146, 0.3);
    width: 100%;
    position: relative;
    bottom: 100%;
    font-weight: bolder;
    display: none;
    text-align: center;
    padding: 30%;
}

.link-title {
    color: white; 
}
.link-title:hover {
    color: #3fb0ac;
}

.list-people {
    background-color: rgba(54, 51, 51, 0.954);
    position: relative;
    right: 10%;
    bottom: 80%;
    padding: 1%;
    display: none;
    min-width: 100px;
}
.all-people {
    color: white;
}
.list-people > li {
    list-style: none;
    list-style-position: inside;
}
.bottom-image {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.user-column {
    height: 160px;
    margin-bottom: 2%;
}
.avata-column{
    width: 100%;
    
    height: 160px;
}

a {
    color: #3fb0ac;
}

/* END */

/* SHOW PAGE */
.body-show{
    /* background-color: #fcf5f8; */
    background-image: linear-gradient(rgb(245, 248, 202), rgb(210, 236, 238));
    padding: 3%;
    min-height: 800px;
}
.info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.show-item {
    width: 30%;
    margin: 1%;
    height: 250px;
}
.label-username {
    color: #173e43;
}
.show-info {
    background-color: rgba(76, 78, 76, 0.3);
    position: relative;
    bottom: 27%;
    font-weight: bolder;
    display: none;
    margin: 0;
    color: white;
    left: 1%;
    padding: 2%;
}
.user-info-name {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}
.avata {
    width: 35%;
    border-right: 1px solid #dddfd4;
    padding-right: 2%;
}
.img-avata {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
}
.user-info {
    width: 50%;
}
.change-avata, .up-image {
    display: none;
}

.images {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}
.edit {
    color: #3fb0ac;
    text-align: center;
    padding: 1%;
    width: 19%;
}
.description {
    display: none;
    background-color: #fccdd3;
    border: 2px solid #fccdd3;
    width: 30%;
}
/* END */

/* IMAGE PAGE */
.image-box {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1%;
    background-color: white;
}
.image-concept {
    background-image: linear-gradient(rgb(202, 243, 248), rgb(238, 238, 210));
    min-height: 800px;
    padding: 2%;
}
.show-image-main {
    width: 100%;
}
.left-box {
    width: 60%;
}
.right-box {
    width: 37%;
    height: 300px;
    
}
.comment {
    border: 1px solid #dddfd4;
    padding-left: 1%;
}
.avata-comment {
    width: 10%;
}
.current-user {
    color: #3fb0ac;
}
.write-comment {
    border: 1px solid #dddfd4;
    width: 65%;
}
.send {
    background-color: #173e43;
    color: white;
    border: 2px solid #173e43;
}
.form-comment {
    width: 100%;
}

.send:hover {
    background-color: #3fb0ac;
    border: 2px solid #3fb0ac;
}
.all-comments {
    overflow: scroll;
    height: 350px;
}
.user-avata {
    width: 10%;
}
.love {
    cursor: pointer;
    border: 2px solid white;
    background-color: white;
}

.reaction {
    display: flex;
    flex-flow: row nowrap;
    width: 30%;
    padding: 1%;
}
.reaction-people {
    cursor: pointer;
}
.reaction-people:hover {
    color: #3fb0ac;
    text-decoration: underline;
}
.detail-people {
    width: 80%;
    height: 50px;
}
.right-box-top {
    display: flex;
    flex-flow: row nowrap;
}
.time-edit {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
/* END */


.date {
    font-weight: lighter;
}