.info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.avata {
    width: 30%;
}
.img-avata {
    width: 100%;
}
.user-info {
    width: 60%;
}
.change-avata {
    display: none;
}