.info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.avata {
    width: 35%;
}
.img-avata {
    width: 100%;
    height: 350px;
}
.user-info {
    width: 60%;
}
.change-avata, .up-image {
    display: none;
}

.images {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}
.link {
    width: 30%;
    margin: 1%;
}
.pic {
    width: 100%;
    height: 250px;
}
